<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body style="max-width: 600px">
    <h3>Здравствуйте!</h3>
    <p>Ваш заказ получен!</p>
    <p>Наш менеджер свяжется С Вами для уточнения деталей</p>
    {% for key, value in order_fields.item %}
    <li><b>{{ key }}:</b>{{ value }}</li>
    {% endfor %}
    <hr />
    <p>Ваш заказ:</p>
    <table border="1" style="width: 100%">
      <tr>
        <td style="width: 33%; text-aligh: center; font-weight: bold">
          Формат
        </td>
        <td style="width: 33%; text-aligh: center; font-weight: bold">
          Бумага
        </td>
        <td style="width: 33%; text-aligh: center; font-weight: bold">
          Кол-во, шт
        </td>
      </tr>
      {% for item in data %}
      <tr>
        <td style="width: 33%; text-aligh: center">{{ item.order_format }}</td>
        <td style="width: 33%; text-aligh: center">{{ item.order_papier }}</td>
        <td style="width: 33%; text-aligh: center">{{ item.order_count }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
